body{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

.Fundo1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 255, 255);
    width: 50%;
    height: 70%;
    margin: 5px;    
    padding: 0;
}

.Titulo {
    
    padding-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    font-size: 25px;
}

.Titulo p {
    justify-content: center;
}

.Infos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button{
    margin: 15px;
    width: 90%;
    display: flex;
    justify-content:flex-end;
}
.button input {
    width: 15%;
    height: 30px;
}

